// VARIABLES

// colours
$orange: #ff5a25;
$dim-grey:#3A3A3A;
$dark-grey:#7C7C7C;
$grey: #ADADAD;
$silver-grey: #CACACA;
$light-grey: #DEDEDE;
$lightest-grey: #F7F7F7;
$white: #FFFFFF;
$blue: #004892;
$dark-blue: #003B77;

// media queries
$phone-small: 'screen and (max-width: 470px)';
$phone: 'screen and (max-width: 700px)';
$tablet: 'screen and (max-width: 950px)';
$desktop: 'screen and (min-width: 1024px)';