// font faces //

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../typography/OpenSans-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans SemiBold';
    src: url('../typography/OpenSans-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../typography/OpenSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.App {
  font-family: 'Open Sans';
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}



